.logo {
  margin-left: 20px;
}

.landing {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  padding-top: 100px;
  justify-content: center
}

p {
  text-align: justify;
}

@media only screen and (max-width: 400px) {
  .logo {
    visibility: collapse;
  }

  button {
    max-width: 100px;
  }

  
}

@media only screen and (max-width: 960px){
  .landing {
    flex-direction: column;
  }
  
}